<ng-container *ngIf="student.length > 0; else noData">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Sr.No</th>
            <th>First Name</th>
            <th>LAst Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Edit</th>
            <th>REmove</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let std of student; let i = index">
            <td>{{i+1}}</td>
            <td>{{std.fname}}</td>
            <td>{{std.lname}}</td>
            <td>{{std.email}}</td>
            <td>{{std.contact}}</td>
            <td><button (click)="onEdit(std)" class="btn btn-primary">Edit</button></td>
            <td><button (click)="onRemove(std.id)" class="btn btn-danger">Remove</button></td>
        </tr>

    </tbody>
</table>
</ng-container>

<ng-template #noData>
     <strong class="alert alert-danger  d-block mt-3">No Student Data Available...</strong>
</ng-template>
